.payments-container {
  padding: 15px 0;
  background-color: #1A1D2B;
  width: 100%;
}

.payment-methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.payment-logo {
  height: 20px;
  object-fit: contain;
}

.crypto-logo {
  height: 16px;
  width: 16px;
  object-fit: contain;
  margin-left: -18px;
}

.payment-logo + .crypto-logo {
  margin-left: 0;
}

.additional-methods {
  color: #6C727F;
  font-size: 14px;
  margin-left: 0px;
} 